.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .item-container {
     height: 100%;
  }

  .addFAB {
     float: right;
     margin-right: 10pt;
  }

  .search-form {
   width: 80%;
   align-items: center;
}

.navbar {
   height: 5rem;
}