<mat-toolbar class="navbar" color="primary">
  <span>ToDo List</span>

  <section>
      <mat-form-field>
        <mat-select [(value)]="selectedPerson" (valueChange)="updateList()">
          <mat-option value="none">None</mat-option>
          <div *ngFor="let person of personItems">
            <mat-option value="{{person.name}}">{{person.name}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-select [(value)]="selectedDone" (valueChange)="updateList()">
            <mat-option value=true>Done</mat-option>
            <mat-option value=false>Undone</mat-option>
          </mat-select>
        </mat-form-field>
  </section>

</mat-toolbar>
<mat-sidenav-container class="item-container">
  <app-todo-items></app-todo-items>
  <button mat-fab class="addFAB" color="primary" (click)="openDialog()">
    <mat-icon aria-label="add">add</mat-icon>
  </button>
</mat-sidenav-container>